@import "tailwindcss";

@theme {
  --font-special-gothic: "Special Gothic Condensed One", sans-serif;
}

@theme {
  --animate-infinite-slider: infinite-slider 40s linear infinite;

  @keyframes infinite-slider {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}